{% load static %}
<link rel="stylesheet" href="{% static 'C:\Users\Hina Kouser\Desktop\myenv\TASKNEST\static\style.css' %}">
<script src="{% static 'C:\Users\user\virnest\Tasknest\static\main.js' %}"></script>

<div id="main">
    <div class="list">
      <div class="title removable editable">This is a list</div>
      <div class="content">
        <div class="card removable editable">This is a card</div>
              <div class="card removable editable">This is a card</div>
              <div class="card removable editable">This is a card</div>
              <div class="card removable editable">This is a card</div>
              <div class="card removable editable">This is a card</div>
              <div class="card removable editable">This is a card</div>
              <div class="card removable editable">This is a card</div>
              <div class="card removable editable">This is a card</div>
              <div class="card removable editable">This is a card</div>      <div class="card removable editable">This is a card</div>
              <div class="card removable editable">This is a card</div>
        <div class="card removable editable" >Look, another card!</div>
      </div>
      <div class="add-card editable">Add another card</div>
    </div>
    <div class="list">
      <div class="title removable editable">Another list</div>
      <div class="content">
        <div class="card removable editable">Hello world!</div>
      </div>
      <div class="add-card editable">Add another card</div>
    </div>
    <div class="list">
      <div class="title removable editable">Empty list</div>
      <div class="content"></div>
      <div class="add-card editable">Add another card</div>
    </div>
  </div>
  
  <div class="add-list">
    <div class="title editable">Add another list</div>
  </div>